*{
     margin: 0px;
     padding: 0px;
}
body{
     background-color: #A3E7FC;
}
.container{
     background-color:#26C485;
     padding: 50px;
     max-width: 400px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 200px;
     border-radius: 5px;
     border: 2px solid white;
     box-shadow: 5px 5px 5px hsla(179, 48%, 38%, 0.365);
}
.btn{
     margin: 10px;
     color: rgba(0, 0, 0, 0.589);
     font-weight: bold;
}
a:hover{
     text-decoration: none;
     color: rgba(0, 0, 0, 0.589);
     font-weight: bold;
}
#cadastrar{
     background-color: #32908F;
     color: white;
     border: 1px solid white;
}
#buscar{
     background-color: #e7b62f;
     color: white;
     border: 1px solid white;
}
.titulo{
     text-align: center;
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding: 5px;
}