*{
     margin: 0px;
     padding: 0px;
}
body{
     background-color: lightseagreen;
}
.container{
     background-color:coral;
     padding: 50px;
     max-width: 400px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 200px;
     border-radius: 5px;
}
.btn{
     margin: 10px;
     color: rgba(0, 0, 0, 0.589);
     font-weight: bold;
}
a:hover{
     text-decoration: none;
     color: rgba(0, 0, 0, 0.589);
     font-weight: bold;
}
.titulo{
     text-align: center;
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding: 5px;
}